header {
    text-align: center;
    background-color: #19191a;
    padding: 0.3em;
    margin: 1% 2.6% 10% 2.6%;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(42, 24, 83, 0.7);
    border-left: #501e7e solid 8px;
    border-right: #501e7e solid 8px;
}

#subtitulo-header {
    color: #8121da;
}

body {
    background-color: #1D1D1F;
    margin: 0;
    padding: 0;
    font-family: "Bona Nova SC", serif;
}

h1, .personagem {
    color: #B0002C;
    font-family: "Amarante", serif;
    font-size: 45px;
}

h2 {
    color: #B0002C;
    font-family: "Bona Nova SC", serif;
    font-size: 27px;
    margin-top: -20px;
}

.habilidades, .introducao, .caracteristicas, .historia, .curiosidades {
    background-color: #19191a;
    padding: 10px;
    margin: 2.6% 2.6% 3.5% 2.6%;
    color: #F2F2F2;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(42, 24, 83, 0.7);
    border-left: #501e7e solid 8px;
    border-right: #501e7e solid 8px;
    text-align: justify;
}

footer {
    background-color: #19191a;
    padding: 10px;
    margin: 2%;
    color: #F2F2F2;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(42, 24, 83, 0.7);
    border-left: #501e7e solid 8px;
    border-right: #501e7e solid 8px;
    text-align: justify;
}

b {
    color: #B0002C;
}

.img {
    display: flex;
    justify-content: center;
}

.img img {
    border-radius: 20px;
    margin-top: -4%;
    height: 31.2em;
    box-shadow: 0 0 20px 10px rgba(58, 38, 104, 0.7);
    border: #501e7e6b double 8px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.introducao {
    margin-top: 5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(src/img/background-ainz.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

.paragrafo-introducao {
    background-color: rgba(0, 0, 0, 0.664);
    font-size: 18px;
    padding: 0.5em;
    margin-bottom: 2em;
}

.rodape {
    text-align: center;
    color: #8121da;
    padding: 30px;
}

section {
    display: flex;
    justify-content: center;
}

a {
    color: #B0002C;
}